{% extends 'base.html.twig' %}

{% block body %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-dark bg-img p-5 mb-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-uppercase text-white">Menu & Pricing</h1>
                <a href="{{path('home')}}">Home</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href="{{path('menu')}}">Menu & Pricing</a>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    {% for message in app.flashes('order') %}
        <div class="alert alert-success">
            <h3>{{message}}</h3>
        </div>
    {% endfor %}

    <!-- Products Start -->
    <div class="container-fluid about py-5">
        <div class="container">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                <h2 class="text-primary font-secondary">Menu & Pricing</h2>
                <h1 class="display-4 text-uppercase">Explore Our Dishes</h1>
            </div>
            <div class="tab-class text-center">
                <!-- Control buttons -->
                <div class="justify-content-center text-uppercase p-4 mb-5" id="myBtnContainer">
                    <button class="d-inline-flex justify-content-center bg-dark text-uppercase text-white border-inner p-4 mb-5 btn active" onclick="filterSelection('all')">
                        Show all</button>
                    <button class="d-inline-flex justify-content-center bg-dark text-uppercase text-white border-inner p-4 mb-5 btn" onclick="filterSelection('Drink')">
                        Drink</button>
                    <button class="d-inline-flex justify-content-center bg-dark text-uppercase text-white border-inner p-4 mb-5 btn" onclick="filterSelection('Appetizer')">
                        Appetizer</button>
                    <button class="d-inline-flex justify-content-center bg-dark text-uppercase text-white border-inner p-4 mb-5 btn" onclick="filterSelection('Main Dishes')">
                        Main Dishes</button>
                    <button class="d-inline-flex justify-content-center bg-dark text-uppercase text-white border-inner p-4 mb-5 btn" onclick="filterSelection('Dessert')">
                        Dessert</button>
                    <button class="d-inline-flex justify-content-center bg-dark text-uppercase text-white border-inner p-4 mb-5 btn" onclick="filterSelection('Snacks')">
                        Snacks</button>
                </div>

                <!-- The filterable elements. Note that some have multiple class names (this can be used if they belong to multiple categories) -->
                <div class="container-fluid">
                    <div class="row g-3">
                        {% for dish in dishes %}
                            <div class="col-lg-6 filterDiv {{dish.category}}">
                                <div class="d-flex h-100">
                                    <div class="flex-shrink-0">
                                        <img class="img-fluid" src="{{asset('images/' ~ dish.image)}}" alt="" style="width: 150px; height: 85px;">
                                        <h4 class="bg-dark text-primary p-2 m-0">€{{dish.price}}</h4>
                                    </div>
                                    <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4 dishes">
                                        <h5 class="text-uppercase">{{dish.name}}</h5>
                                        <span>{{dish.description}}</span>
                                        <a class="btn btn-outline-danger btn-sm" href={{ path('order', {id: dish.id}) }} role="button"> Order</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Products End -->


    <!-- Offer Start -->
    <div class="container-fluid bg-offer my-5 py-5">
        <div class="container py-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title position-relative text-center mx-auto mb-4 pb-3" style="max-width: 600px;">
                        <h2 class="text-primary font-secondary">Special Kombo Pack</h2>
                        <h1 class="display-4 text-uppercase text-white">Super Crispy Cakes</h1>
                    </div>
                    <p class="text-white mb-4">Eirmod sed tempor lorem ut dolores sit kasd ipsum. Dolor ea et dolore et at sea ea at dolor justo ipsum duo rebum sea. Eos vero eos vero ea et dolore eirmod et. Dolores diam duo lorem. Elitr ut dolores magna sit. Sea dolore sed et.</p>
                    <a href="" class="btn btn-primary border-inner py-3 px-5 me-3">Shop Now</a>
                    <a href="" class="btn btn-dark border-inner py-3 px-5">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Offer End -->
{% endblock %}

{% block javascript %} <script src="{{asset('js/filter.js')}}"></script> {% endblock %}


