{% extends 'base.html.twig' %}

{% block body %}

{% set sum = 0 %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        <h3>{{message}}</h3>
    </div>
{% endfor %}
<br>
<div class="container">
    <h2>Your Orders</h2>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Order number</td>
                <td>Name</td>
                <td>Price</td>
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <td>Status</td>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <td>Change Status</td>
                {% endif %}
                <td>Remove Order</td>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                {% set sum = sum + order.price %}
                <tr>
                    <td>{{order.orderNumber}}</td>
                    <td>{{order.name}}</td>
                    <td>{{order.price}}</td>
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <td>{{order.status}}</td>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <td>
                        <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{order.status}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('status',{id: order.id, status: 'open'}) }}">Open</a>
                                <a class="dropdown-item" href="{{ path('status',{id: order.id, status: 'ready'}) }}">Ready</a>
                                <a class="dropdown-item" href="{{ path('status',{id: order.id, status: 'archive'}) }}">Archive</a>
                            </div>
                        </div>

                        {# <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{order.status}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{{ path('status',{id: order.id, status: 'open'}) }}">Open</a>
                                <a class="dropdown-item" href="{{ path('status',{id: order.id, status: 'ready'}) }}">Ready</a>
                                <a class="dropdown-item" href="{{ path('status',{id: order.id, status: 'archive'}) }}">Archive</a>
                            </div>
                        </div> #}

                    </td>
                    {% endif %}
                    {% if order.status == 'open' %}
                        <td> 
                            <a class="btn btn-outline-danger btn-sm" href=" {{path('deleteOrder',{id: order.id})}} " role="button">Remove</a> 
                        </td>
                    {% endif %}                    
                </tr>
            {% endfor %}
            <td></td>
            <td></td>
            <td>€{{sum}}</td>
            <td></td>
            <td></td>
            <td></td>
        </tbody>
    </table>
</div>
{% endblock %}
